################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Veritasium Riddle/.vs
/Veritasium Riddle/Veritasium Riddle/bin/Debug/net6.0
/Veritasium Riddle/Veritasium Riddle/obj
